In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.get_option("display.max_columns")
df = pd.read_csv('LA_rest_yelp_no_dupes.csv', index_col=False)
df.sample()

,id,name,phone,address,category_alias,category_title,rating,review_count,lat,lon
8342,HQcIJpQ01NlTZzoO3e-l9g,Mai Phung,1.714890e+10,"8415 Westminster Blvd Westminster, CA 92683","vietnamese,","Vietnamese,",4.0,266,33.759647,-117.982475

In [3]:
zipcodes = list()

for item in df['address']:
    zipcode = item.split()[-1]
    zipcodes.append(zipcode)

df['zipcodes'] = zipcodes
df = pd.DataFrame(df)
df.sample()

,id,name,phone,address,category_alias,category_title,rating,review_count,lat,lon,zipcodes
9212,j5kxR8POE3GOv0pzwtBWrg,Pho Super Bowl,1.626294e+10,"1300 E Main St Ste 105 Alhambra, CA 91801","vietnamese, coffee, noodles,","Vietnamese, Coffee & Tea, Noodles,",4.0,613,34.10121,-118.1133,91801

In [4]:
df1 = df[df.isna().any(axis=1)]

df1.head(2)

,id,name,phone,address,category_alias,category_title,rating,review_count,lat,lon,zipcodes
8,__T8wnlRk82K7PMG3OYL7A,Slasher Pizza,NaN,"1466 Glendale Blvd Los Angeles, CA 90026","pizza,","Pizza,",5.0,1,34.081632,-118.259825,90026
37,_5Z2zEujMT0cSTYC_hTpEQ,Juanita's Tacos,NaN,"Corner of S Western & W 3rd St Los Angeles, C...","mexican,","Mexican,",4.0,124,34.068871,-118.308156,90189

In [5]:
# df.drop(['category_alias', 'phone'], axis=1, inplace=True)

In [6]:
df2 = df[df.isna().any(axis=1)]
df2.sample()

,id,name,phone,address,category_alias,category_title,rating,review_count,lat,lon,zipcodes
18538,xS31NMroSEvpogrGBAzHUA,Good Taco,NaN,"8340 La Palma Ave Buena Park, CA 90620","mexican,","Mexican,",2.5,2,33.846505,-117.98949,90620

In [7]:
df.dropna()
df.head()

,id,name,phone,address,category_alias,category_title,rating,review_count,lat,lon,zipcodes
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,1.818551e+10,"602 W Glenoaks Blvd Glendale, CA 91202","mideastern, bbq, armenian,","Middle Eastern, Barbeque, Armenian,",4.0,349,34.159455,-118.267173,91202
1,__6hsNl6ibtI6OE5NQQiPw,Taco Bell,1.562499e+10,"2500 E Pacific Coast Hwy Long Beach, CA 90804","hotdogs, mexican,","Fast Food, Mexican,",2.0,89,33.789873,-118.162498,90804
2,__cvgBooF6k2Ra0nA14NGg,Bottlefish,1.310955e+10,"11677 San Vicente Blvd Ste 200 Los Angeles, ...","bars, seafood,","Bars, Seafood,",4.5,274,34.054000,-118.464759,90049
3,__D9TH9-JRh_7CvWJcPZcQ,Baby Lobster,1.213747e+10,"1001 Maple Ave Ste 201 Los Angeles, CA 90015","seafood, mexican,","Seafood, Mexican,",3.0,49,34.038311,-118.254250,90015
4,__GK0tVl6Dygt6BVn2TFrA,China Star Express,1.562494e+10,"1785 Palo Verde Ave Long Beach, CA 90815","chinese, hotdogs,","Chinese, Fast Food,",3.5,209,33.788383,-118.108055,90815

In [8]:
found = df[df['id'].str.contains('#NAME?')]
#print(found.count())
found.head()

,id,name,phone,address,category_alias,category_title,rating,review_count,lat,lon,zipcodes
19878,#NAME?,La Pasta,1.424786e+10,"3614 Martin Luther King Jr Blvd Lynwood, CA 9...","italian, pizza, sandwiches,","Italian, Pizza, Sandwiches,",5.0,90,33.931881,-118.203762,90262
19879,#NAME?,Mariscos Mi Lindo Nayarit 2,1.323589e+10,"8000 South Central Ave Los Angeles, CA 90001","mexican,","Mexican,",3.0,21,33.966430,-118.256130,90001
19880,#NAME?,La Chiquita Bakery,1.323233e+10,"270 E Martin Luther King Jr Blvd Los Angeles,...","bakeries, breakfast_brunch, mexican,","Bakeries, Breakfast & Brunch, Mexican,",4.5,15,34.011035,-118.269110,90011
19881,#NAME?,Mad Dumplings,1.818584e+10,"2530 South Birch St Santa Ana, CA 92707","foodtrucks, chinese,","Food Trucks, Chinese,",4.0,224,33.712281,-117.872117,92707
19882,#NAME?,Tom's Jr Burger,1.323751e+10,"953 W Florence Ave Los Angeles, CA 90044","burgers,","Burgers,",2.5,65,33.974880,-118.291120,90044

In [67]:
def tidy_split(df, column, sep='|', keep=False):
    """
    Split the values of a column and expand so the new DataFrame has one split
    value per row. Filters rows where the column is missing.

    Params
    ------
    df : pandas.DataFrame
        dataframe with the column to split and expand
    column : str
        the column to split and expand
    sep : str
        the string used to split the column's values
    keep : bool
        whether to retain the presplit value as it's own row

    Returns
    -------
    pandas.DataFrame
        Returns a dataframe with the same columns as `df`.
    """
    indexes = list()
    new_values = list()
    df = df.dropna(subset=[column])
    for i, presplit in enumerate(df[column].astype(str)):
        values = presplit.split(sep)
        if keep and len(values) > 1:
            indexes.append(i)
            new_values.append(presplit)
        for value in values:
            indexes.append(i)
            new_values.append(value)
    new_df = df.iloc[indexes, :].copy()
    new_df[column] = new_values
    return new_df

In [68]:
df = tidy_split(df, 'category_title', sep=',')

In [69]:
df.dtypes

id                 object
name               object
address            object
category_title     object
rating            float64
review_count        int64
lat               float64
lon               float64
zipcodes           object
dtype: object

In [70]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
# df.sample(25)
df.head()

,id,name,address,category_title,rating,review_count,lat,lon,zipcodes
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",Middle Eastern,4.0,349,34.159455,-118.267173,91202
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",Barbeque,4.0,349,34.159455,-118.267173,91202
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",Armenian,4.0,349,34.159455,-118.267173,91202
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",,4.0,349,34.159455,-118.267173,91202
1,__6hsNl6ibtI6OE5NQQiPw,Taco Bell,"2500 E Pacific Coast Hwy Long Beach, CA 90804",Fast Food,2.0,89,33.789873,-118.162498,90804

In [71]:
found = df[df['category_title'].str.contains('')]
print(found.count())
found.head()

id                61425
name              61425
address           61425
category_title    61425
rating            61425
review_count      61425
lat               61425
lon               61425
zipcodes          61425
dtype: int64

,id,name,address,category_title,rating,review_count,lat,lon,zipcodes
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",Middle Eastern,4.0,349,34.159455,-118.267173,91202
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",Barbeque,4.0,349,34.159455,-118.267173,91202
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",Armenian,4.0,349,34.159455,-118.267173,91202
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",,4.0,349,34.159455,-118.267173,91202
1,__6hsNl6ibtI6OE5NQQiPw,Taco Bell,"2500 E Pacific Coast Hwy Long Beach, CA 90804",Fast Food,2.0,89,33.789873,-118.162498,90804

In [72]:
df.isnull().any(axis = 0).sum()

0

In [20]:
df.to_csv('la_rest_types.csv', index=False )