In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('LA_rest_yelp_no_dupes.csv')
df.sample()

,id,name,phone,address,category_alias,category_title,rating,review_count,lat,lon
6919,FI-cI3fhy24pNfGwQ_McnA,Pono Burger,1.310585e+10,"829 Broadway Santa Monica, CA 90401","burgers, newamerican, hawaiian,","Burgers, American (New), Hawaiian,",4.0,1139,34.01892,-118.4894

In [6]:
df1 = df[df.isna().any(axis=1)]

df1.head()

,id,name,phone,address,category_alias,category_title,rating,review_count,lat,lon
8,__T8wnlRk82K7PMG3OYL7A,Slasher Pizza,NaN,"1466 Glendale Blvd Los Angeles, CA 90026","pizza,","Pizza,",5.0,1,34.081632,-118.259825
37,_5Z2zEujMT0cSTYC_hTpEQ,Juanita's Tacos,NaN,"Corner of S Western & W 3rd St Los Angeles, C...","mexican,","Mexican,",4.0,124,34.068871,-118.308156
61,_b7Cg03S_-jaKd0CFv9HVg,BEST FCKN PIZZA,NaN,11419 Santa Monica Blvd Ste 26 West Los Ange...,"pizza,","Pizza,",4.0,23,34.045862,-118.451498
69,_bXUV5KNP6udmqJ56uZpHg,Janet Restaurant,NaN,"1245 N Avalon Blvd Los Angeles, CA 90744","mexican,","Mexican,",5.0,1,33.787972,-118.263451
98,_Ezz3HcmTT4FpDlioeNvBQ,The Courtyard Café,NaN,"1000 N Alameda St Los Angeles, CA 90012","cafes,","Cafes,",3.5,10,34.059217,-118.236045

In [7]:
df.drop(['category_alias', 'phone'], axis=1, inplace=True)

In [9]:
df2 = df[df.isna().any(axis=1)]
df2.sample()

,id,name,address,category_title,rating,review_count,lat,lon
6256,Ei-T-OBtuRg-n1tcaVYJUA,La Santaneca,"2461 Atlantic Ave Long Beach, CA 90806",NaN,0.0,0,33.80188,-118.18534

In [12]:
df.dropna()
df.head()

,id,name,address,category_title,rating,review_count,lat,lon
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202","Middle Eastern, Barbeque, Armenian,",4.0,349,34.159455,-118.267173
1,__6hsNl6ibtI6OE5NQQiPw,Taco Bell,"2500 E Pacific Coast Hwy Long Beach, CA 90804","Fast Food, Mexican,",2.0,89,33.789873,-118.162498
2,__cvgBooF6k2Ra0nA14NGg,Bottlefish,"11677 San Vicente Blvd Ste 200 Los Angeles, ...","Bars, Seafood,",4.5,274,34.054000,-118.464759
3,__D9TH9-JRh_7CvWJcPZcQ,Baby Lobster,"1001 Maple Ave Ste 201 Los Angeles, CA 90015","Seafood, Mexican,",3.0,49,34.038311,-118.254250
4,__GK0tVl6Dygt6BVn2TFrA,China Star Express,"1785 Palo Verde Ave Long Beach, CA 90815","Chinese, Fast Food,",3.5,209,33.788383,-118.108055

In [13]:
found = df[df['id'].str.contains('#NAME?')]
#print(found.count())
found.head()

,id,name,address,category_title,rating,review_count,lat,lon
19878,#NAME?,La Pasta,"3614 Martin Luther King Jr Blvd Lynwood, CA 9...","Italian, Pizza, Sandwiches,",5.0,90,33.931881,-118.203762
19879,#NAME?,Mariscos Mi Lindo Nayarit 2,"8000 South Central Ave Los Angeles, CA 90001","Mexican,",3.0,21,33.966430,-118.256130
19880,#NAME?,La Chiquita Bakery,"270 E Martin Luther King Jr Blvd Los Angeles,...","Bakeries, Breakfast & Brunch, Mexican,",4.5,15,34.011035,-118.269110
19881,#NAME?,Mad Dumplings,"2530 South Birch St Santa Ana, CA 92707","Food Trucks, Chinese,",4.0,224,33.712281,-117.872117
19882,#NAME?,Tom's Jr Burger,"953 W Florence Ave Los Angeles, CA 90044","Burgers,",2.5,65,33.974880,-118.291120

In [14]:
def tidy_split(df, column, sep='|', keep=False):
    """
    Split the values of a column and expand so the new DataFrame has one split
    value per row. Filters rows where the column is missing.

    Params
    ------
    df : pandas.DataFrame
        dataframe with the column to split and expand
    column : str
        the column to split and expand
    sep : str
        the string used to split the column's values
    keep : bool
        whether to retain the presplit value as it's own row

    Returns
    -------
    pandas.DataFrame
        Returns a dataframe with the same columns as `df`.
    """
    indexes = list()
    new_values = list()
    df = df.dropna(subset=[column])
    for i, presplit in enumerate(df[column].astype(str)):
        values = presplit.split(sep)
        if keep and len(values) > 1:
            indexes.append(i)
            new_values.append(presplit)
        for value in values:
            indexes.append(i)
            new_values.append(value)
    new_df = df.iloc[indexes, :].copy()
    new_df[column] = new_values
    return new_df

In [15]:
df = tidy_split(df, 'category_title', sep=',')

In [16]:
df.dtypes

id                 object
name               object
address            object
category_title     object
rating            float64
review_count        int64
lat               float64
lon               float64
dtype: object

In [17]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
# df.sample(25)
df.head()

,id,name,address,category_title,rating,review_count,lat,lon
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",Middle Eastern,4.0,349,34.159455,-118.267173
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",Barbeque,4.0,349,34.159455,-118.267173
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",Armenian,4.0,349,34.159455,-118.267173
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",,4.0,349,34.159455,-118.267173
1,__6hsNl6ibtI6OE5NQQiPw,Taco Bell,"2500 E Pacific Coast Hwy Long Beach, CA 90804",Fast Food,2.0,89,33.789873,-118.162498

In [18]:
found = df[df['category_title'].str.contains('')]
print(found.count())
found.head()

id                61425
name              61425
address           61425
category_title    61425
rating            61425
review_count      61425
lat               61425
lon               61425
dtype: int64

,id,name,address,category_title,rating,review_count,lat,lon
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",Middle Eastern,4.0,349,34.159455,-118.267173
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",Barbeque,4.0,349,34.159455,-118.267173
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",Armenian,4.0,349,34.159455,-118.267173
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",,4.0,349,34.159455,-118.267173
1,__6hsNl6ibtI6OE5NQQiPw,Taco Bell,"2500 E Pacific Coast Hwy Long Beach, CA 90804",Fast Food,2.0,89,33.789873,-118.162498

In [19]:
df.isnull().any(axis = 0).sum()

0

In [20]:
df.to_csv('la_rest_types.csv', index=False )